CsharpStartTest/bin/
CsharpStartTest/obj/
.vs/
temp/
dataProcessCheck/bin/
dataProcessCheck/obj/
packages/


[Bb]in/
[Dd]ebug/
[Oo]bj/
[Ll]ogs/
[Rr]ef/

.vs/

*.csproj.user
*.user
*.bak
*.log

[Pp]ackages/

ref/
/PSTPT.PTL106.ViewModel
/PSTPT.PTL103.ViewModel
/PSTPT.PTL043.ViewModel
/PSTPT.PTL041.ViewModel
/PSTPT.PTL040.ViewModel
/PSTPT.PTL002.ViewModel
/PSTPT.POSTCOMM.ViewModel
/PSTPT.POSTCOMM
/PSTPT.BUZCOMM.ViewModel
/PSTPT.BUZCOMM
